@{
    Layout = "~/Views/Shared/_EducatorLayout.cshtml";
    ViewData["Title"] = "Educator Dashboard";
}
<div class="text-center">
<h1>Welcome to the Educator Dashboard</h1>
<p class="lead">Manage your Courses, track enrollments, and interact with students seamlessly</p>
</div>