@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewData["Title"] = "Student Dashboard";
}
<div class="text-center">
<h1>Welcome to the Student Dashboard</h1>
<p class="lead">Browse courses, manage your enrollment, and provide feedback easily</p>
</div>